/* Guild container */
.guilds-navbar .guilds-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    background: var(--navbar-bg);
    width: 72px;
    height: fit-content;
    min-height: 100vh;
}

/* Divider */
.guilds-navbar .guilds-container .divider {
    width: 32px;
    height: 2px;
    border: none;
    background: #36393f;
    margin: 8px 0;
    border-radius: 196px;
}

/* Item */
.guilds-navbar .guilds-container .item {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #36393f;
    position: relative;
    transition: border-radius 250ms, background 250ms;
    margin-bottom: 8px;
    cursor: pointer;
}

.guilds-navbar .guilds-container .item:hover,
.guilds-navbar .guilds-container .item.active {
    border-radius: 16px;
    background: var(--theme-color);
}

.guilds-navbar .guilds-container .item .icon svg {
    color: #fff;
    transition: color 250ms;
}

.guilds-navbar .guilds-container .item::after {
    content: "";
    display: block;
    width: 8px;
    height: 0;
    border-radius: 200px;
    background: #fff;
    position: absolute;
    right: 57px;
    top: 50%;
    transform: translateY(-50%);
    transition: height 250ms;
}

/* Item green */
.guilds-navbar .guilds-container .item.green .icon svg {
    color: #3ba55c;
}

.guilds-navbar .guilds-container .item.green:hover,
.guilds-navbar .guilds-container .item.green.active {
    background: #3ba55c;
}

.guilds-navbar .guilds-container .item.green:hover .icon svg,
.guilds-navbar .guilds-container .item.green.active .icon svg {
    color: #fff;
}

/* Notify */
.guilds-navbar .guilds-container .item:hover::after {
    height: 18px;
}

.guilds-navbar .guilds-container .item.notif::after {
    height: 8px;
}

.guilds-navbar .guilds-container .item.active::after {
    height: 32px;
}

/* Item page */
.guilds-navbar .guilds-container .item.page {
    margin: 8px 0 0 0;
}

/* Icon item */
.guilds-navbar .guilds-container .item .icon {
    width: 100%;
    height: 100%;
    font-size: 18px;
    border-radius: inherit;
    color: var(--navbar-text-color);
    font-weight: 500;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}